*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

#logo{
  width:150px;
}
.fixed-top{
  background-color: #000;
  position:fixed;
  z-index: 999;
  width:100%;
  height:100px;
  top:0;
  left:0;
}
.fixed-left{
  position:fixed;
  width:15%;
  height: calc(100% - 100px);
  background-color: green;
}

.container-flex{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  list-style: none;
  justify-content: space-around;
}
/* regole di debug */


.contenuto-prova{
  width:100%;
  height:200px;
  border: 2px solid black;
  background-color: purple;
}


footer{
  display: flex;
  align-items: flex-end;
  height:100vh;
  position:relative;
}

.blocco-app{
  display: flex;
  width:15%;
  height:100%;

}
.registrati{
  align-self: flex-end;
  width:100%;
  height:20vh;
  border:2px solid black;
  background-color: pink;
}

.player{
  background-color: yellow;
  width:100%;
  height:80px;
  position:fixed;
  top:91vh;
  left:0;
  z-index: 2;
}
