*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

/* regole di debug */
#top-menu{
  position:fixed;
  z-index: 999;
  width:100%;
  height:90px;
  top:0;
  left:0;
  border-bottom:1px solid #000;
  background-color: orange;
}

#container-principale{
  width:100%;
  height:calc(100vh - 93px);
  border:1px solid #000;
  background-color: pink;
}

#left-section{
  width:200px;
  height:calc(100vh - 93px);
  position: fixed;
  top:0px;
  left:0;
  border: 1px solid #000;
  background-color: green;
}

#player{
  width:100%;
  height:93px;
  position: fixed;
  top: calc(100vh - 93px);
  left:0;
  border: 1px solid #000;
  background-color: yellow;
}
